.container

	a#new-employee-btn.btn-floating.orange.lighten-2(href='/employee/new') 
		i.material-icons add

	#search-bar.input-field
		input#search(type='search',
			ng-model="searchText")
		label(for='search')
			i.material-icons search

	ul.collection(style)
		li.collection-item.avatar(
			ng-repeat='x in employees | filter:searchText | orderBy:"createdAt":true', 
			ng-mouseover='hoverIn()',
			ng-mouseleave='hoverOut()',
			ng-click='toggle()')
			img.circle(src='{{x.imageBase64}}')
			span.title {{x.name}}
			
			p {{x.position.title}}, {{x.position.department}}
			p.chip {{x.contact.email}}   
			p.chip {{x.contact.phone}}
			a.edit-item-btn.btn-floating.teal.lighten-2(
				ng-click='pageExit(x.dsw)',
				href='#',
				ng-show='hoverEdit') 
				i.material-icons edit
			.sectionY(ng-show='active')
				p {{x.bio}}
			a.secondary-content
				span.new.badge(ng-show='isRecent(x.createdAt)')